{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Извлечение резюме аттрибутов</title>
    <!-- стили с bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="text-center" style="width: 600px;">
        <h1>Добавить резюме в формате pdf-файла</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <!-- Используем mb-3 для отступов между полями формы -->
            <div class="mb-3 d-flex justify-content-center">
                <input type="file" class="form-control w-50" id="fileInput" name="file" accept=".pdf">
            </div>

            <!-- Кнопка загрузки -->
            <button type="submit" class="btn btn-light w-50">Загрузить</button>
        </form>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>